header {
  background: black;

  h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 20px 0;
  }

  .App-logo {
    width: 79px;
    height: 79px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
